h1 {
  background-color:#685454;
  color:white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  padding:40px;
}

h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-style:oblique;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #f2f2f2;
  margin-left: 10%;
  margin-right:10%;
  padding:20px;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#685454;
    color:white;
    padding:15px;
}

nav{
  font-size: larger;
}

body {
  background-color:#ebd5d5;
}
.card {
  box-shadow: 0 4px 8px 0 #685454;
  max-width: 300px;
  margin-top: 80px;
  margin-left: 100px;
  text-align: center;
  font-family: arial;
  outline-style:solid;
  outline-color:#685454;
  outline-width:20px;
  margin: 10px 0;
}

.title {
  color: #685454;
  font-size: 18px;
}
p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: #685454;
}

.row {
    padding-top: 30px;
    padding-bottom: 30px;
}
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-left:120px;
  }
.column2 {
    float:center;
    width:30%;
    padding: 0 10px;
}
.column3 {
    float:right;
    width:30%;
    padding: 0 10px;
}
